
* ,
* :before,
* :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd,
q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, u, center,
dl, dt,
dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot,
thead, tr, th, td,
article, aside, canvas, details, embed, fieldset,
figure,
figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}
li { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/* Hide the `template` element in IE, Safari, and Firefox < 22. */
[hidden], template { display: none;}

script { display: none !important;}

/* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body { line-height: 1;}

/* Remove default outlines. */
a, button, :focus, a:focus, button:focus, a:active, a:hover { outline: 0;}
/* Remove tap highlight color */
a {
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
a[href]:hover { cursor: pointer;}


/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b, strong { font-weight: bold;}

/* Address styling not present in Safari 5 and Chrome. */
dfn { font-style: italic;}

/* Address differences between Firefox and other browsers. */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/* Correct font family set oddly in Safari 5 and Chrome. */
code, kbd, pre, samp {
    font-size: 1em;
    font-family: monospace, serif;
}

/* Improve readability of pre-formatted text in all browsers. */
pre { white-space: pre-wrap;}

/* Set consistent quote types. */
q { quotes: "\201C" "\201D" "\2018" "\2019";}

/* Address inconsistent and variable font size in all browsers. */
small { font-size: 80%;}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}
sup { top: -0.5em;}
sub { bottom: -0.25em;}

/* Define consistent border, margin, and padding. */
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    border: 1px solid #c0c0c0;
}

/* 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
    padding: 0; /* 2 */
    border: 0; /* 1 */
}

/* 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Remove any default :focus styles
 * 5. Make sure webkit font smoothing is being inherited
 * 6. Remove default gradient in Android Firefox / FirefoxOS */
button, input, select, textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
    outline-offset: 0; /* 4 */
    outline-style: none; /* 4 */
    outline-width: 0; /* 4 */
    -webkit-font-smoothing: inherit; /* 5 */
    background-image: none; /* 6 */
}

/* Address Firefox 4+ setting `line-height` on `input` using `importnt` in
 * the UA stylesheet. */
button, input { line-height: normal;}

/* Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select { text-transform: none;}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    /* 3 */
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] { cursor: default;}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-box-sizing: content-box;
    /* 2 */
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

img { -webkit-user-drag: none;}
html {
    overflow: hidden;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
body {
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color: #000;
    word-wrap: break-word;
    font-size: 14px;
    font-family: 'PingFang SC Light', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 20px;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/* 页面容器尺寸参照 */
.app-frame {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 页面视图 */
.v-page { background-color: #f3f3f3;}

.v-margin {margin:10px;}
.v-margin-bottom{margin-bottom:10px;}
.v-padding {padding: 10px;}
.v-padding-bottom {padding-bottom:10px;}
.v-left { float: left;}
.v-right { float: right;}


.v-box,
.v-box-div,
.v-box-title,
.v-box-pic,
.v-box-ft,
.v-box-text {
    box-sizing: border-box;
}
.v-box {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-color: #fff;
}
.v-box-pic:after,
.v-box-title:after,
.v-box-pic:after,
.v-box-ft:after {
    content: "";
    display: table;
    clear: both;
}
.v-box-flag {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 44px;
    height: 44px;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    color: #fff;
}
.v-box-flag b {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0 44px 44px 0;
    border-right-color: #353535;
}
.v-box-flag span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transform: rotate(45deg);
    width: 44px;
    height: 44px;
    line-height: 24px;
}
.v-box-title {
    padding: 10px 12px;
    font-size: 18px;
    font-weight: normal;
}
.v-box-title-nowrap {
    padding: 0 12px;
    overflow: hidden;
    height: 44px;
    line-height: 44px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.v-box-withflag .v-box-title {
    padding-right: 54px;
}
.v-box-pic {
    padding: 0 12px 10px;
}
.v-box-pic img {
    display: block;
    width: 100%;
    border: 0 none;
}
.v-box-text {
    padding: 0 12px 10px;
    color: #555;
}
.v-box-ft {
    padding: 0 12px 10px;
    font-size: 12px;
    color: #aaa;
}
.v-box-div {
    padding: 0 12px 10px;
}
.v-box-div .button-full {
    display: block;
    width: 100%;
    height: 38px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    background: #f84e4f;
    color: #fff;
    text-decoration: none;
}
.v-box-div .button-full span {
    margin: 0 5px;
}
.v-box-div .des {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    color: #7b7b7b;
}
.v-box-div .des .q1,
.v-box-div .des .q2 {
    overflow: hidden;
    display: block;
    position: absolute;
    height: 30px;
    font-size: 25px;
    font-family: helvetica;
}
.v-box-div .des .q1 {
    left: 0;
    top: 0;
}
.v-box-div .des .q2 {
    right: 0;
    bottom: 0;
    text-align: right;
}
.v-box-div .des .des-cnt {
    overflow: hidden;
    width: 100%;
}
.v-box-div .cnt {
    color: #555;
    padding-top: 5px;
}
.v-box-div .cnt .cnt-cnt h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: inherit;
}
.v-box-div .cnt .cnt-cnt p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.5;
}
.v-box-div .cnt .cnt-cnt .content-goods {
    position: relative;
    width: 100%;
}
.v-box-div .cnt .cnt-cnt .content-goods img {
    display: block;
    width: 100%;
    /*border-radius: 3px;*/
}
.v-box-div .cnt .cnt-cnt .content-goods span {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 5px;
    font-size: 12px;
    background: #585858;
    color: #fff;
}


/* iframe 视图==================== */
.v-iframe {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}
.v-iframe-wrapper {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch !important;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.v-iframe-scroller {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.v-iframe iframe {
    width: 100%;
    height: 100%;
}

@-webkit-keyframes rotate360 {
	from {-webkit-transform:rotate(0deg) translateZ(0)}
	to {-webkit-transform:rotate(360deg) translateZ(0)}
}
@-ms-keyframes rotate360 {
	from {-ms-transform:rotate(0deg) translateZ(0)}
	to {-ms-transform:rotate(360deg) translateZ(0)}
}



/* 滚动条视图 ==================== */
.v-scroll-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}
.v-scroll-scroller {
    overflow: hidden;
    min-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.v-scroll-pulldown,
.v-scroll-pullup {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    color:#666;
}
.v-scroll-pulldown.result {
    background-image: -webkit-linear-gradient(top, #f3f3f3 70%, #eee);
}
.v-scroll-pullup.result {
    background-image: -webkit-linear-gradient(top, #eee, #f3f3f3 30%);
}

.v-scroll-pulldown i.icon,
.v-scroll-pullup i.icon {
    vertical-align: middle;
    font-size: 25px;
    -webkit-transition-property:-webkit-transform;
    -ms-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
    -ms-transition-duration:250ms
}
.v-scroll-pulldown.result i.icon,
.v-scroll-pullup.result i.icon {
    font-size: 20px;
}
.v-scroll-pulldown.active i.icon,
.v-scroll-pullup.active i.icon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -ms-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;
    -ms-transition-duration:0ms;
    -webkit-animation-name:rotate360;
    -ms-animation-name:rotate360;
    -webkit-animation-duration:1s;
    -ms-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-timing-function:linear
}




.loading-icon {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    z-index: 9;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    -webkit-animation-name:rotate360;
    -ms-animation-name:rotate360;
    -webkit-animation-duration:1s;
    -ms-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-timing-function:linear
}

.v-flashmsg {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
    background-image: -webkit-linear-gradient(top, rgba(127,22,22,1), rgba(248,78,79,.8));
    box-shadow: 0 0 20px rgba(0,0,0,.6);
    color: #fff;
}
.v-flashmsg .icon {
    vertical-align: middle;
    font-size: 20px;
}


.v-list,
.v-list-item {
    -webkit-transition: opacity .3s;
}
